<a href="https://colab.research.google.com/github/Eberhard-26/-OOP-58001/blob/main/Operations_and_Expressions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Boolean Operators

In [ ]:
print(10>9)
print(10==9)
print(10!=9)
print(10<9)

True
False
True
False

bool()Function

In [ ]:
print(bool("Maria"))
print(bool(19))
print(bool([]))
print(bool(0))
print(bool(1))
print(bool(None))
print(bool(False))

True
True
False
False
True
False
False

Function can return to a Boolean

In [ ]:
def myFunction():
  return False

print(myFunction())

False

In [ ]:
if myFunction():
  print("Yes!")
else:
  print("No!")

Yes!

#Application 1

In [ ]:
print(10>9)

a=6
b=7
print(a==b)
print(a!=a)

True
False
False

In [ ]:
a=60
b=13
print(a>b)

if a>b:
  print("a is less than b")
else:
  print("a is greater than b")

True
a is less than b

#Python Operators

In [ ]:
print(10+3)
print(10-3)
print(10*3)
print(10//3)
print(10%3)
print(10/3)

13
7
30
3
1
3.3333333333333335

#Bitwise Operation

In [ ]:
#a=60, binary 0011 1100
#b=13, binary 0000 1101

print(a&b)
print(a|b)
print(a^b)
print(a<<1)

12
61
49
120

#Assignment Operators

Application 2

In [ ]:
x=2

x+=3
print(x)

5

#Logical Operators

In [ ]:
k = True
l = False
print (k and l)
print (k or l)
print (not(k or l))

False
True
False

#Identity Operators

In [ ]:
k is l
k is not l

True

#Control Structure

If Statement

In [ ]:
v = 1
z = 2

if 1<2:
  print("1 is less than 2")

1 is less than 2

Elif Statement

In [ ]:
number= int(input())

if number>0:
  print("positive")
elif number<0:
  print("negative")
else:
  print("number is equal to 0")

12
positive

In [ ]:
age=int(input())

if age>=18:
  print("You are qualified to vote")
else:
  print("You are not qualified to vote")

15
You are not qualified to vote

#Nested If...Else

In [ ]:
u= int(input())
if u>10:
  print("u is above 10")
if u>20:
  print("u is above 20")
if u>30:
  print("u is above 30")
if u>40:
  print("u is above 40")
else:
  print("u is below 40")
if u>50:
  print("u is above 50")
else:
  print("u is below 50")

11
u is above 10
u is below 40
u is below 50

#Loop Structure

In [8]:
week = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']
season= ["rainy", "sunny"]

for x in week:
  for y in season:
    print(y,x)

rainy Sunday
sunny Sunday
rainy Monday
sunny Monday
rainy Tuesday
sunny Tuesday
rainy Wednesday
sunny Wednesday
rainy Thursday
sunny Thursday
rainy Friday
sunny Friday
rainy Saturday
sunny Saturday

#The break statement

In [9]:
for x in week:
  if x == 'Thursday':
    break

print(x)

Thursday

In [10]:
for x in week:
  print(x)
  if x=="Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

#While Loop

In [ ]:
i=1

while i<6:
  print(i)
  i+=1

1
2
3
4
5

Application 4

In [ ]:
j = 1

while j<=4:
  print(j)
  j+=1

1
2
3
4

Application 5

In [ ]:
j=1

while j<=4:
  j+=1
  if j==4:
    print(j)

4